@import "./variables";
@import "./imports";
.skillItem {
  background-position: right;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: $skillItemColor;
  background-size: 300%;
  color: white;
  transition: 1s ease-in-out;
  border-radius: 10%;
  @media screen and (max-width: $phone) {
    height: 100px;
    width: 100px;
  }
  @media screen and (max-width: $tablet) and (min-width: $phone) {
    height: 145px;
    width: 145px;
  }
}
.skillItem:hover {
  background-position: right;
  transition: 1s ease-in-out;
}
.skillName {
  color: white;
  font-family: Abel;
}
.skillsView {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.skillPopup {
  height: 200px;
  width: 200px;
  z-index: 1;
  left: 25%;
  border-radius: 5%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: rgba(104, 103, 104, 0.466);
  backdrop-filter: blur(5px);
}
.popupTitle {
  color: white;
  font-family: Poppins;
  font-size: 18px;
}
.popupDescription {
  color: $popupDescriptionColor;
  font-family: ubuntu;
}
.email_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1vh;
}
.email_wrap {
  width: fit-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.email_span_rule {
  height: 2.4px;
  background: $rule_background;
  width: 50%;
}
.email_span {
  color: rgb(155, 161, 163);
}
.about {
  // background: linear-gradient(90deg, rgba(33, 27, 70, 0.7), rgba(0, 0, 0, 0.9));
  // height: 100vh;
}
.about_main {
  width: 70vw;
  display: flex;

  flex-wrap: nowrap;
  justify-content: space-between;
  @media screen and (max-width: $phone) {
    width: 100vw;
  }
}
.about_desc {
}
.about_desc p {
  color: $paragraph_color;
  font-size: 20px;
  letter-spacing: 0.3px;
  font-family: Dosis;
}
.about_image_div {
}

.about_image {
  width: 150px;
  filter: saturate(70%) hue-rotate(40deg);
  height: 150px;
  object-fit: cover;
  border: 1px solid rgb(80, 122, 122);
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgb(156, 35, 167);
}
.works_list {
  background: linear-gradient(90deg, rgba(169, 3, 184, 0.705), rgb(2, 8, 65));
  width: 60vw;
  @media screen and (max-width: $phone) {
    width: 100vw;
  }
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 2vw;
}
.works_list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.works_list ul li {
}
.works_list ul li a {
  text-decoration: none;
  color: transparent;
  background: linear-gradient(45deg, red, orange);
  -webkit-background-clip: text;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 2s;
}
.works_list ul li a:hover {
  background-size: 300%;
  transition: 2s;
}
.works_wrap {
  display: flex;
  flex-direction: row;
}
.works_side_scroll {
  width: 5px;

  background: linear-gradient(rgb(76, 0, 255), rgba(168, 6, 173, 0.466));
  height: 300px;
  margin-left: 5px;
  margin-right: 3px;
  border-radius: 5px;
}
.work_scroll_div {
  background: linear-gradient(rgb(0, 255, 34), rgb(12, 216, 199));
  box-shadow: 1px 1px 3px $scrolldiv_shadow_color,
    -1px -1px 3px $scrolldiv_shadow_color;
  width: 5px;
  height: 30px;
  border-radius: 5px;
}
.wrap_works_list {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 7px;
    // left: -100px;
    // position: absolute;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(192, 24, 164);
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgb(4, 161, 43), aqua);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(0deg, rgb(3, 231, 41), rgb(0, 102, 255));
  }
}
.works_title {
  color: $page_top_color;
  font-family: Ubuntu;
  font-weight: 200;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 20px;
  letter-spacing: 0.3px;
}
.work_desc {
  color: $paragraph_color;
  font-family: Dosis;
  font-size: 20px;
  margin-top: 5vh;
  text-align: center;
  width: 40vw;
  @media screen and (max-width: $phone) {
    width: 70vw;
  }
}
.work_desc_wrap {
  width: 100%;
  // justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.works_title_bottom_rule {
  height: 3px;
  width: calc(100% + 20px);
  background: $rule_background;
  border-radius: 2px;
}
.works_title_wrap {
  width: fit-content;
}
.works_title_wrap_cover {
  margin-top: 7px;
  display: flex;
  width: 60vw;
  @media screen and (max-width: $phone) {
    width: 100vw;
  }

  justify-content: center;
}
.work_number {
  font-family: Dosis;
  font-weight: 400;
  margin-right: 4px;
  color: transparent;
  background: linear-gradient(45deg, red, orange);
  -webkit-background-clip: text;
}
.scrolls_wrap {
  display: flex;
  flex-direction: row;
}
.tech_span {
  color: $tech_span_color;
  font-family: monospace;
}
.tech_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 45vw;
}
.external_link {
  color: rgb(175, 173, 173);
  font-size: 20px;
}
