.nav-main {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;

  height: 10vh;
  justify-content: space-between;
  background: black;
  color: wheat;
  box-shadow: 2px 2px 4px rgb(68, 3, 110);
}
.nav-main ul {
  display: inline-flex;
  list-style: none;
}
.nav-main ul li {
  margin-left: 1.6em;
  font-size: 1.25em;
}
.nav-main ul li a {
  text-decoration: none;
  color: $nav_anchor_color;
  transition: 0.5s;
  font-family: Dosis;
}
.nav-main ul li a:hover {
  color: rgb(105, 220, 228);
}
.logo {
  height: 50px;
  width: 50px;
}
