@import "./variables";
.main_portfolio_view {
  // height: 50vh;
  position: relative;
}
.bubble1 {
  height: 100px;
  width: 100px;
  position: absolute;

  border-radius: 50%;
  background: linear-gradient(45deg, aqua, blue);
}
.bubble2 {
  height: 100px;
  width: 100px;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(45deg, aqua, blue);
}
.float_glass {
  height: 30vh;
  width: 35vw;

  backdrop-filter: blur(5px);
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    rgba(3, 3, 15, 0.692),
    rgba(100, 100, 104, 0.562)
  );
  transition: 2s;
}
.float_glass:hover {
  transition: 2s;
}
.portfolio_item {
  display: flex;
  margin-bottom: 2vh;
  flex-direction: row;
  flex-wrap: nowrap;
}
.project_image {
  width: 60vw;
  height: 100vh;
  left: -100px;
  position: relative;
  z-index: -1;
  top: 30px;
}
.project_img {
  width: 100%;
  border-radius: 5%;
  border: 1px solid rgb(28, 51, 4);
  height: 100%;
  object-fit: contain;
}
.glass_title {
  color: transparent;
  background-size: 300%;
  background-position: right;
  background: linear-gradient(45deg, rgb(0, 255, 13), rgb(30, 34, 248));
  -webkit-background-clip: text;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 2s;
  cursor: pointer;
}
.glass_title:hover {
  background-position: left;
  transition: 2s;
}
.glass_description {
  color: rgb(130, 159, 168);
  font-size: 18px;
  font-family: Abel;
}
.glass_title_cover {
  position: relative;
  height: 200px;
}

.contact_description {
  font-family: Abel;
  color: azure;
  font-size: 2vw;
  width: 50vw;
  text-align: center;
}
.main_contact_view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.getintouch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.anchor_contact {
  height: 6vh;
  width: 30vh;
  background: linear-gradient(45deg, rgb(255, 0, 212), rgb(0, 162, 255));
  border-radius: 20px;
  font-size: 70%;
  text-align: center;
  padding: 1px;

  text-decoration: none;
  color: rgb(202, 207, 211);
}
