$paragraph_color: #719ba0;
$nav_anchor_color: rgb(163, 157, 157);
$specialFont: Dosis;
$page_top_color: rgb(179, 187, 185);
$rule_background: linear-gradient(45deg, rgb(136, 15, 167), rgb(255, 0, 221));
$scrolldiv_shadow_color: rgb(11, 153, 6);
