$paragraph_color: #719ba0;
$nav_anchor_color: rgb(163, 157, 157);
$specialFont: Dosis;
$page_top_color: rgb(179, 187, 185);
$rule_background: linear-gradient(45deg, rgb(136, 15, 167), rgb(255, 0, 221));
$scrolldiv_shadow_color: rgb(11, 153, 6);
$scrollbar_background: linear-gradient(black, purple);
$tech_span_color: rgb(209, 203, 203);
$skillItemColor: linear-gradient(45deg, black, purple, orange);
// $skillItemHoverColor: linear-gradient(45deg, black, purple);
$bgcolor_dark: linear-gradient(
  45deg,
  rgb(65, 11, 82),
  rgb(0, 0, 0),
  rgb(1, 5, 14),
  rgb(41, 6, 51)
);
$bgcolor_light: linear-gradient(
  45deg,
  rgb(226, 171, 243),
  rgb(221, 221, 221),
  rgb(190, 201, 223),
  rgb(237, 214, 243)
);
$popupDescriptionColor: rgb(174, 173, 179);
$bubble_height: 50px;
$bubble_width: 50px;
$spacer_height: 10vh;
$phone: 480px;
$tablet: 768px;
$laptop: 1366px;
